<div class="row">
  <div class="twelve columns" style="text-align:center;">
    <div class="profile-picture"></div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <span class="section-title" >Bio</span>
  </div>
</div>
<div class="row">
  <div class="five columns social-links">
    <ul class="description" style="padding-top:20px;">
      <li>
        <a href="https://twitter.com/EmanAbiola"><i class="icon-twitter"></i></a>
      </li>
      <li>
        <a href="https://github.com/EmmanuelAbiola"><i class="icon-github"></i></a>
      </li>
      <li>
       <a href="https://uk.linkedin.com/in/emmanuel-abiola-23431b6a"> <i class="icon-linkedin"></i></a>
      </li>
      <li>
       <a href="https://medium.com/@Emmanuel.A"> <i class="icon-medium"></i></a>
      </li>
      <li>
       <a href="mailto:eabiola01@gmail.com?Subject=Hello%20emmanuel"target="_top"> <i class="icon-mail"></i></a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns description">
   Hey! I'm Emmanuel, a Computer Engineering graduate from the University of Nottingham. I have a passion for building Mobile Applications; this has led me to lead the development of over ten profitable applications whilst working alongside a fellow group of developers at University. This helped to boost my software engineering skills - in particular, Android development, whilst retaining a great deal of interest in iOS and Web development. 
  </div>
</div>