<div class="row">
  <div class="four columns">
    <div class="profile-picture"></div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <span class="section-title" >Bio</span>
  </div>
</div>
<div class="row">
  <div class="five columns social-links">
    <ul class="description" style="padding-top:20px;">
      <li>
        <i class="icon-twitter-circled"></i>
      </li>
      <li>
        <i class="icon-github-circled"></i>
      </li>
      <li>
        <i class="icon-linkedin-circled"></i>
      </li>
      <li>
        <i class="icon-mail-circled"></i>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns description">
    Lorem ipsum dolor sit amet, at simul molestie salutatus vix. Usu ex corpora disputando. Id justo adolescens per. 
    Te mea enim liberavisse, vim  ad reque disputationi, vim et adhuc suscipit. Fierent praesent complectitur pro et. 
    Ex quo denique constituto disputando, in lorem malis duo, eu putent docendi vis. Falli electram pri ea. 
    No eum oratio deseruisse delicatissimi, has equidem percipit an. Enim inciderint mediocritatem ad mel.
  </div>
</div>